<%- model_class = Restaurante -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id).upcase %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:especialidade) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurantes.each do |restaurante| %>
      <tr>
        <td><%= link_to restaurante.id, restaurante_path(restaurante) %></td>
        <td><%= restaurante.nome %></td>
        <td><%= restaurante.especialidade %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_restaurante_path(restaurante), :class => 'btn btn-mini' %>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      restaurante_path(restaurante), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")), new_restaurante_path, :class => 'btn btn-primary' %>
